In [ ]:
import numpy as np
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
#import warnings
#warnings.filterwarnings('ignore')
sns.set(style='darkgrid')

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from warnings import filterwarnings
filterwarnings("ignore")
%matplotlib inline

### **Reading in the data**

In [ ]:
PCOS_inf = pd.read_csv("PCOS_infertility.csv",encoding='iso-8859-1')
PCOS_data = pd.read_excel(r'PCOS_data_without_infertility.xlsx', sheet_name='Full_new')

In [ ]:
PCOS_data.head()

,Sl. No,Patient File No.,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),RR (breaths/min),...,Fast food (Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm),Unnamed: 44
0,1.0,1.0,0.0,28.0,44.6,152.0,19.300000,15.0,78.0,22.0,...,1.0,0.0,110.0,80.0,3.0,3.0,18.0,18.0,8.5,NaN
1,2.0,2.0,0.0,36.0,65.0,161.5,24.921163,15.0,74.0,20.0,...,0.0,0.0,120.0,70.0,3.0,5.0,15.0,14.0,3.7,NaN
2,3.0,3.0,1.0,33.0,68.8,165.0,25.270891,11.0,72.0,18.0,...,1.0,0.0,120.0,80.0,13.0,15.0,18.0,20.0,10.0,NaN
3,4.0,4.0,0.0,37.0,65.0,148.0,29.674945,13.0,72.0,20.0,...,0.0,0.0,120.0,70.0,2.0,2.0,15.0,14.0,7.5,NaN
4,5.0,5.0,0.0,25.0,52.0,161.0,20.060954,11.0,72.0,18.0,...,0.0,0.0,120.0,80.0,3.0,4.0,16.0,14.0,7.0,NaN

### **Pre-Processing**

In [ ]:
#Checked how many non null values are in this 'Unnamed: 44' column
PCOS_data[~ PCOS_data['Unnamed: 44'].isna()]

,Sl. No,Patient File No.,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),RR (breaths/min),...,Fast food (Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm),Unnamed: 44
180,181.0,181.0,1.0,30.0,70.0,150.0,31.111111,16.0,74.0,18.0,...,1.0,0.0,120.0,80.0,8.0,6.0,12.0,11.0,4.5,.
363,364.0,364.0,0.0,31.0,48.0,152.0,20.800000,17.0,72.0,18.0,...,1.0,0.0,110.0,80.0,1.0,3.0,13.0,13.0,7.0,7.0

There are only 2 non null values in this column. Hence we will drop this column later.

In [ ]:
#Checked the column types in this dataframe
PCOS_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sl. No                  541 non-null    float64
 1   Patient File No.        541 non-null    float64
 2   PCOS (Y/N)              541 non-null    float64
 3    Age (yrs)              541 non-null    float64
 4   Weight (Kg)             541 non-null    float64
 5   Height(Cm)              541 non-null    float64
 6   BMI                     541 non-null    float64
 7   Blood Group             541 non-null    float64
 8   Pulse rate(bpm)         541 non-null    float64
 9   RR (breaths/min)        541 non-null    float64
 10  Hb(g/dl)                541 non-null    float64
 11  Cycle(R/I)              541 non-null    float64
 12  Cycle length(days)      541 non-null    float64
 13  Marraige Status (Yrs)   540 non-null    float64
 14  Pregnant(Y/N)           541 non-null    float64
 15  No. of aborptions       541 non-null    float64
 16    I   beta-HCG(mIU/mL)  541 non-null    float64
 17  II    beta-HCG(mIU/mL)  541 non-null    object
 18  FSH(mIU/mL)             541 non-null    float64
 19  LH(mIU/mL)              541 non-null    float64
 20  FSH/LH                  541 non-null    float64
 21  Hip(inch)               541 non-null    float64
 22  Waist(inch)             541 non-null    float64
 23  Waist:Hip Ratio         541 non-null    float64
 24  TSH (mIU/L)             541 non-null    float64
 25  AMH(ng/mL)              541 non-null    object
 26  PRL(ng/mL)              541 non-null    float64
 27  Vit D3 (ng/mL)          541 non-null    float64
 28  PRG(ng/mL)              541 non-null    float64
 29  RBS(mg/dl)              541 non-null    float64
 30  Weight gain(Y/N)        541 non-null    float64
 31  hair growth(Y/N)        541 non-null    float64
 32  Skin darkening (Y/N)    541 non-null    float64
 33  Hair loss(Y/N)          541 non-null    float64
 34  Pimples(Y/N)            541 non-null    float64
 35  Fast food (Y/N)         540 non-null    float64
 36  Reg.Exercise(Y/N)       541 non-null    float64
 37  BP _Systolic (mmHg)     541 non-null    float64
 38  BP _Diastolic (mmHg)    541 non-null    float64
 39  Follicle No. (L)        541 non-null    float64
 40  Follicle No. (R)        541 non-null    float64
 41  Avg. F size (L) (mm)    541 non-null    float64
 42  Avg. F size (R) (mm)    541 non-null    float64
 43  Endometrium (mm)        541 non-null    float64
 44  Unnamed: 44             2 non-null      object
dtypes: float64(42), object(3)
memory usage: 190.3+ KB

Other than the 'Unnamed: 44' column, there are 2 other columns with null values. We will now check these columns' null rows.

In [ ]:
PCOS_data[PCOS_data['Marraige Status (Yrs)'].isnull()]

,Sl. No,Patient File No.,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),RR (breaths/min),...,Fast food (Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm),Unnamed: 44
458,459.0,459.0,1.0,36.0,66.0,162.0,25.1,15.0,72.0,20.0,...,0.0,0.0,120.0,80.0,14.0,5.0,19.0,19.0,8.0,NaN

In [ ]:
PCOS_data[PCOS_data['Fast food (Y/N)'].isnull()]

,Sl. No,Patient File No.,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),RR (breaths/min),...,Fast food (Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm),Unnamed: 44
156,157.0,157.0,0.0,27.0,53.2,158.0,21.3,13.0,72.0,22.0,...,NaN,1.0,120.0,70.0,5.0,7.0,11.0,13.0,11.0,NaN

In [ ]:
#lets assign the median to the missing data
PCOS_data['Marraige Status (Yrs)'].fillna(PCOS_data['Marraige Status (Yrs)'].median(),inplace=True)

In [ ]:
PCOS_data['Fast food (Y/N)'].fillna(PCOS_data['Fast food (Y/N)'].median(),inplace=True)

In [ ]:
PCOS_data.drop('Unnamed: 44',axis=1,inplace=True) #dropped the column

In [ ]:
PCOS_data.isnull().sum().any() #if it returns false, it means there are no null values.

False

In [ ]:
PCOS_inf.info() #checked the 2nd dataframe's information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sl. No                  541 non-null    int64
 1   Patient File No.        541 non-null    int64
 2   PCOS (Y/N)              541 non-null    int64
 3     I   beta-HCG(mIU/mL)  541 non-null    float64
 4   II    beta-HCG(mIU/mL)  541 non-null    float64
 5   AMH(ng/mL)              541 non-null    object
dtypes: float64(2), int64(3), object(1)
memory usage: 25.5+ KB

In [ ]:
data = pd.merge(PCOS_data,PCOS_inf, on='Sl. No', suffixes={'','_y'},how='left') #merged the dataframes on the "Sl. No" column

In [ ]:
data.head()

,Sl. No,Patient File No.,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),RR (breaths/min),...,Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm),Patient File No._y,PCOS (Y/N)_y,I beta-HCG(mIU/mL)_y,II beta-HCG(mIU/mL)_y,AMH(ng/mL)_y
0,1.0,1.0,0.0,28.0,44.6,152.0,19.300000,15.0,78.0,22.0,...,3.0,3.0,18.0,18.0,8.5,10001,0,1.99,1.99,2.07
1,2.0,2.0,0.0,36.0,65.0,161.5,24.921163,15.0,74.0,20.0,...,3.0,5.0,15.0,14.0,3.7,10002,0,60.80,1.99,1.53
2,3.0,3.0,1.0,33.0,68.8,165.0,25.270891,11.0,72.0,18.0,...,13.0,15.0,18.0,20.0,10.0,10003,1,494.08,494.08,6.63
3,4.0,4.0,0.0,37.0,65.0,148.0,29.674945,13.0,72.0,20.0,...,2.0,2.0,15.0,14.0,7.5,10004,0,1.99,1.99,1.22
4,5.0,5.0,0.0,25.0,52.0,161.0,20.060954,11.0,72.0,18.0,...,3.0,4.0,16.0,14.0,7.0,10005,0,801.45,801.45,2.26

In [ ]:
#renamed the columns
data.columns = ['SNo', 'Patient_File_No.', 'PCOS_(Y/N)', 'Age_(yrs)', 'Weight_(Kg)',
       'Height(m)', 'BMI', 'Blood_Group', 'Pulse_rate(bpm)',
       'RR_(breaths/min)', 'Hb(g/dl)', 'Cycle(R/I)', 'Cycle_length(days)',
       'Marriage_Status_(Yrs)', 'Pregnant(Y/N)', 'No_of_abortions', 'I_beta-HCG(mIU/mL)_yy', 'II_beta-HCG(mIU/mL)_yy',
       'FSH(mIU/mL)', 'LH(mIU/mL)', 'FSH/LH', 'Hip(inch)', 'Waist(inch)',
       'Waist:Hip_Ratio', 'TSH_(mIU/L)', 'AMH(ng/mL)', 'PRL(ng/mL)',
       'Vit_D3_(ng/mL)', 'PRG(ng/mL)', 'RBS(mg/dl)', 'Weight_gain(Y/N)',
       'hair_growth(Y/N)', 'Skin_darkening (Y/N)', 'Hair_loss(Y/N)',
       'Pimples(Y/N)', 'Fast_food_(Y/N)', 'Reg_Exercise(Y/N)',
       'BP_Systolic(mmHg)', 'BP_Diastolic(mmHg)', 'Follicle_No.(L)',
       'Follicle_No.(R)', 'Avg.Fsize(L)(mm)', 'Avg.Fsize(R)(mm)',
       'Endometrium(mm)','Patient_File_No._y', 'PCOS(Y/N)_y',
       'I_beta-HCG(mIU/mL)', 'II_beta-HCG(mIU/mL)', 'AMH(ng/mL)_y']

In [ ]:
#dropped one of each of the duplicate columns and two unimportant columns
data.drop(['Patient_File_No._y', 'PCOS(Y/N)_y','AMH(ng/mL)_y','SNo','Patient_File_No.','I_beta-HCG(mIU/mL)_yy', 'II_beta-HCG(mIU/mL)_yy'],axis=1,inplace=True)

## **Data Cleaning**

In [ ]:
data.describe()  #Checking the description of columns to see if this data have outliers or irregular values

,PCOS_(Y/N),Age_(yrs),Weight_(Kg),Height(m),BMI,Blood_Group,Pulse_rate(bpm),RR_(breaths/min),Hb(g/dl),Cycle(R/I),...,Reg_Exercise(Y/N),BP_Systolic(mmHg),BP_Diastolic(mmHg),Follicle_No.(L),Follicle_No.(R),Avg.Fsize(L)(mm),Avg.Fsize(R)(mm),Endometrium(mm),I_beta-HCG(mIU/mL),II_beta-HCG(mIU/mL)
count,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000,...,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000
mean,0.327172,31.430684,59.637153,156.484835,24.311285,13.802218,73.247689,19.243993,11.160037,2.560074,...,0.247689,114.661738,76.927911,6.129390,6.641405,15.018115,15.451701,8.475915,664.549235,238.229518
std,0.469615,5.411006,11.028287,6.033545,4.056399,1.840812,4.430285,1.688629,0.866904,0.901950,...,0.432070,7.384556,5.574112,4.229294,4.436889,3.566839,3.318848,2.165381,3348.920576,1603.826221
min,0.000000,20.000000,31.000000,137.000000,12.417882,11.000000,13.000000,16.000000,8.500000,2.000000,...,0.000000,12.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.300000,0.110417
25%,0.000000,28.000000,52.000000,152.000000,21.641274,13.000000,72.000000,18.000000,10.500000,2.000000,...,0.000000,110.000000,70.000000,3.000000,3.000000,13.000000,13.000000,7.000000,1.990000,1.990000
50%,0.000000,31.000000,59.000000,156.000000,24.238227,14.000000,72.000000,18.000000,11.000000,2.000000,...,0.000000,110.000000,80.000000,5.000000,6.000000,15.000000,16.000000,8.500000,20.000000,1.990000
75%,1.000000,35.000000,65.000000,160.000000,26.634958,15.000000,74.000000,20.000000,11.700000,4.000000,...,0.000000,120.000000,80.000000,9.000000,10.000000,18.000000,18.000000,9.800000,297.210000,97.630000
max,1.000000,48.000000,108.000000,180.000000,38.900000,18.000000,82.000000,28.000000,14.800000,5.000000,...,1.000000,140.000000,100.000000,22.000000,20.000000,24.000000,24.000000,18.000000,32460.970000,25000.000000

For each column, we are going to check outlier values on both sides according to the reseach we have done on these features.

In [ ]:
data.Blood_Group.value_counts() #Checked the value counts of blood group

15.0    206
13.0    135
11.0    108
17.0     42
16.0     19
14.0     16
12.0     13
18.0      2
Name: Blood_Group, dtype: int64

For our modelling purposes, we need to convert this categorical column values into numerical type. We will create a mapping dictionary according to the column instructions provided in the excel file.

In [ ]:
# create a mapping dictionary for the categorical columns about blood group
blood_group_dict = {11: 'A+', 12: 'A-', 13: 'B+', 14: 'B-', 15: 'O+', 16: 'O-', 17: 'AB+', 18: 'AB-'}

In [ ]:
data['Blood_Group'] = data['Blood_Group'].map(blood_group_dict)  # trasnform the columns into categorical
print(data.Blood_Group.value_counts(dropna = False))

O+     206
B+     135
A+     108
AB+     42
O-      19
B-      16
A-      13
AB-      2
Name: Blood_Group, dtype: int64

In [ ]:
data['Height(m)'] = data['Height(m)']/100  #Since the column name is in metre and actual values are in centimetres, we need to divide it by 100

In [ ]:
data[data['Pulse_rate(bpm)'] <60]  #search for less than 60

,PCOS_(Y/N),Age_(yrs),Weight_(Kg),Height(m),BMI,Blood_Group,Pulse_rate(bpm),RR_(breaths/min),Hb(g/dl),Cycle(R/I),...,Reg_Exercise(Y/N),BP_Systolic(mmHg),BP_Diastolic(mmHg),Follicle_No.(L),Follicle_No.(R),Avg.Fsize(L)(mm),Avg.Fsize(R)(mm),Endometrium(mm),I_beta-HCG(mIU/mL),II_beta-HCG(mIU/mL)
223,0.0,30.0,62.0,1.69,21.707923,A+,18.0,20.0,12.0,2.0,...,1.0,120.0,70.0,4.0,3.0,14.0,18.0,8.7,1.99,1.99
296,0.0,31.0,50.0,1.55,20.811655,O+,13.0,18.0,11.0,2.0,...,0.0,110.0,70.0,8.0,5.0,17.0,15.0,8.5,20.81,1.99

In [ ]:
data['Pulse_rate(bpm)'] = data['Pulse_rate(bpm)'].apply(lambda x: 70 if x<70 else x) #assign 70 to the values which is less than 70

In [ ]:
data['Cycle(R/I)'].value_counts() #Checked the value counts

2.0    390
4.0    150
5.0      1
Name: Cycle(R/I), dtype: int64

This column describes regular and irregular values for cycles according to the instruction. Therefore we expected this column to have binary values but we have 2,4 and only one value for 5. Our initial hypothesis is 2 is regular and 4 is irregular. Using the length of cycle days, let's see if our hypothesis is true or not.

In [ ]:
data.groupby('Cycle(R/I)')['Cycle_length(days)'].value_counts()

Cycle(R/I)  Cycle_length(days)
2.0         5.0                   262
            6.0                    89
            4.0                    36
            3.0                     2
            7.0                     1
4.0         2.0                    38
            3.0                    34
            4.0                    25
            7.0                    17
            5.0                    14
            9.0                     9
            11.0                    5
            6.0                     2
            8.0                     2
            12.0                    2
            0.0                     1
            10.0                    1
5.0         7.0                     1
Name: Cycle_length(days), dtype: int64

Our hypothesis is true as 2 has mid range values for length of days and 4 has values on extreme ends.

In [ ]:
data['Irregular_Cycle(Y/N)'] = data['Cycle(R/I)'].apply(lambda x: 0 if x<4 else 1) # Create a new boolean column which indicates 0=regular, 1=irregular

In [ ]:
data.drop(columns='Cycle(R/I)',inplace=True) # Hence, dropped the old column

In [ ]:
data[data['FSH(mIU/mL)'] >15]  #Checking outlier

,PCOS_(Y/N),Age_(yrs),Weight_(Kg),Height(m),BMI,Blood_Group,Pulse_rate(bpm),RR_(breaths/min),Hb(g/dl),Cycle_length(days),...,BP_Systolic(mmHg),BP_Diastolic(mmHg),Follicle_No.(L),Follicle_No.(R),Avg.Fsize(L)(mm),Avg.Fsize(R)(mm),Endometrium(mm),I_beta-HCG(mIU/mL),II_beta-HCG(mIU/mL),Irregular_Cycle(Y/N)
78,0.0,37.0,48.0,1.500,21.333333,A+,75.0,20.0,10.2,5.0,...,110.0,70.0,0.0,2.0,0.0,9.0,8.6,1.99,1.99,0
195,1.0,35.0,60.0,1.534,25.497672,B+,72.0,20.0,13.2,4.0,...,120.0,80.0,8.0,10.0,15.0,13.0,5.5,1.99,1.99,1
250,1.0,45.0,85.0,1.530,36.310821,O+,72.0,18.0,12.0,4.0,...,120.0,80.0,10.0,15.0,15.0,17.0,8.3,50.43,1.99,1
281,0.0,31.0,51.0,1.550,21.227888,AB+,70.0,18.0,11.0,5.0,...,110.0,80.0,4.0,5.0,16.0,19.0,7.0,1.99,1.99,1
329,0.0,29.0,53.0,1.610,20.400000,O+,72.0,18.0,10.2,6.0,...,110.0,80.0,6.0,4.0,16.0,17.0,6.0,900.60,900.60,0
412,1.0,23.0,55.0,1.520,23.200000,B+,78.0,18.0,10.8,5.0,...,110.0,70.0,10.0,18.0,14.0,14.0,10.3,1.99,1.99,0

In [ ]:
data['FSH(mIU/mL)'] = data['FSH(mIU/mL)'].apply(lambda x: 4.85 if x>22 else x)  #assign the median values for extremely high values.

In [ ]:
data[(data['LH(mIU/mL)'] >14)]  #Checked outlier

,PCOS_(Y/N),Age_(yrs),Weight_(Kg),Height(m),BMI,Blood_Group,Pulse_rate(bpm),RR_(breaths/min),Hb(g/dl),Cycle_length(days),...,BP_Systolic(mmHg),BP_Diastolic(mmHg),Follicle_No.(L),Follicle_No.(R),Avg.Fsize(L)(mm),Avg.Fsize(R)(mm),Endometrium(mm),I_beta-HCG(mIU/mL),II_beta-HCG(mIU/mL),Irregular_Cycle(Y/N)
120,0.0,30.0,63.0,1.59,24.9199,O+,76.0,20.0,10.5,9.0,...,110.0,70.0,3.0,2.0,16.0,14.0,8.6,1.99,479.66,1
328,1.0,30.0,65.0,1.61,25.1000,A+,70.0,18.0,11.0,2.0,...,110.0,80.0,7.0,10.0,13.0,17.0,8.0,336.95,12.00,1
455,1.0,32.0,52.0,1.50,23.1000,B+,70.0,18.0,9.4,5.0,...,110.0,80.0,6.0,7.0,18.0,18.0,9.0,272.78,1.99,0

In [ ]:
data['LH(mIU/mL)'] = data['LH(mIU/mL)'].apply(lambda x: 2.3 if x>15 else x)   #assign the median values for extremely high values.

In [ ]:
data['FSH/LH'] = data['FSH(mIU/mL)']/ data['LH(mIU/mL)']  #Overwrite the column using the cleaned values of the two columns

In [ ]:
data[data['TSH_(mIU/L)'] > 10]  #Checked outlier

,PCOS_(Y/N),Age_(yrs),Weight_(Kg),Height(m),BMI,Blood_Group,Pulse_rate(bpm),RR_(breaths/min),Hb(g/dl),Cycle_length(days),...,BP_Systolic(mmHg),BP_Diastolic(mmHg),Follicle_No.(L),Follicle_No.(R),Avg.Fsize(L)(mm),Avg.Fsize(R)(mm),Endometrium(mm),I_beta-HCG(mIU/mL),II_beta-HCG(mIU/mL),Irregular_Cycle(Y/N)
3,0.0,37.0,65.0,1.48000,29.674945,B+,72.0,20.0,12.0,5.0,...,120.0,70.0,2.0,2.0,15.0,14.0,7.5,1.99,1.99,0
7,0.0,33.0,58.5,1.59000,23.139907,B+,72.0,20.0,11.0,5.0,...,120.0,80.0,7.0,6.0,15.0,18.0,7.1,100.51,100.51,0
37,0.0,26.0,72.0,1.57000,29.210110,A+,70.0,18.0,11.0,5.0,...,120.0,80.0,1.0,2.0,6.5,8.5,10.0,12.00,1.99,0
128,0.0,41.0,54.0,1.50000,24.000000,O+,70.0,18.0,11.5,5.0,...,110.0,80.0,0.0,1.0,15.0,9.0,14.0,98.91,54.08,0
167,1.0,29.0,60.0,1.50000,26.666667,O+,73.0,20.0,10.7,6.0,...,120.0,80.0,11.0,12.0,14.0,15.0,10.0,2.59,1.99,0
168,1.0,30.0,72.3,1.58000,28.961705,O+,74.0,20.0,10.8,4.0,...,120.0,80.0,9.0,12.0,14.0,16.0,9.0,1.99,1.99,1
193,0.0,30.0,55.0,1.73700,18.229009,A+,72.0,20.0,13.8,5.0,...,120.0,80.0,2.0,2.0,10.0,11.0,7.0,2.01,1.99,0
233,0.0,31.0,50.0,1.52000,21.641274,O+,72.0,18.0,10.0,6.0,...,120.0,80.0,7.0,5.0,17.0,15.0,9.0,392.73,1.99,0
236,0.0,33.0,54.0,1.46000,25.333083,O+,72.0,18.0,12.8,3.0,...,120.0,80.0,5.0,5.0,18.0,20.0,7.0,1.99,1.99,0
278,1.0,45.0,50.0,1.54000,21.082813,AB+,72.0,18.0,10.2,4.0,...,120.0,80.0,4.0,8.0,15.0,18.0,7.2,412.90,366.04,1
305,0.0,37.0,56.0,1.52000,24.238227,B+,74.0,20.0,11.7,5.0,...,120.0,70.0,4.0,5.0,17.0,16.0,5.6,42.00,1.99,0
346,1.0,28.0,83.0,1.64000,30.900000,A+,74.0,20.0,11.1,2.0,...,110.0,80.0,10.0,12.0,15.0,17.0,10.0,1.99,1.99,1
535,0.0,26.0,80.0,1.61544,30.700000,AB-,70.0,18.0,10.6,5.0,...,110.0,80.0,7.0,9.0,13.0,17.5,9.6,1.99,1.99,0

In [ ]:
#assigned the 75th percentile value since there are more than a dozen irregular high values
data['TSH_(mIU/L)'] = data['TSH_(mIU/L)'].apply(lambda x: 3.57 if x>10 else x)

In [ ]:
data[data['Vit_D3_(ng/mL)'] > 90]   #Checked outlier

,PCOS_(Y/N),Age_(yrs),Weight_(Kg),Height(m),BMI,Blood_Group,Pulse_rate(bpm),RR_(breaths/min),Hb(g/dl),Cycle_length(days),...,BP_Systolic(mmHg),BP_Diastolic(mmHg),Follicle_No.(L),Follicle_No.(R),Avg.Fsize(L)(mm),Avg.Fsize(R)(mm),Endometrium(mm),I_beta-HCG(mIU/mL),II_beta-HCG(mIU/mL),Irregular_Cycle(Y/N)
191,1.0,29.0,63.0,1.530,26.912726,AB+,74.0,18.0,11.0,3.0,...,120.0,70.0,14.0,16.0,16.0,17.0,9.0,3.99,3.99,1
195,1.0,35.0,60.0,1.534,25.497672,B+,72.0,20.0,13.2,4.0,...,120.0,80.0,8.0,10.0,15.0,13.0,5.5,1.99,1.99,1

In [ ]:
#we suspected these are input errors for which we divided these by 100
data['Vit_D3_(ng/mL)'] = data['Vit_D3_(ng/mL)'].apply(lambda x: x/100 if x>100 else x)

In [ ]:
data[data['BP_Systolic(mmHg)'] < 60]   #Checked outlier

,PCOS_(Y/N),Age_(yrs),Weight_(Kg),Height(m),BMI,Blood_Group,Pulse_rate(bpm),RR_(breaths/min),Hb(g/dl),Cycle_length(days),...,BP_Systolic(mmHg),BP_Diastolic(mmHg),Follicle_No.(L),Follicle_No.(R),Avg.Fsize(L)(mm),Avg.Fsize(R)(mm),Endometrium(mm),I_beta-HCG(mIU/mL),II_beta-HCG(mIU/mL),Irregular_Cycle(Y/N)
161,0.0,38.0,70.0,1.7,24.221453,B+,75.0,20.0,12.5,5.0,...,12.0,80.0,1.0,1.0,11.0,12.0,5.0,1.99,1.99,0

In [ ]:
#we suspected these are input errors for which we multiplied these by 10
data['BP_Systolic(mmHg)'] = data['BP_Systolic(mmHg)'].apply(lambda x: x*10 if x<60 else x)

In [ ]:
data[data['BP_Diastolic(mmHg)'] < 60]   #Checked outlier

,PCOS_(Y/N),Age_(yrs),Weight_(Kg),Height(m),BMI,Blood_Group,Pulse_rate(bpm),RR_(breaths/min),Hb(g/dl),Cycle_length(days),...,BP_Systolic(mmHg),BP_Diastolic(mmHg),Follicle_No.(L),Follicle_No.(R),Avg.Fsize(L)(mm),Avg.Fsize(R)(mm),Endometrium(mm),I_beta-HCG(mIU/mL),II_beta-HCG(mIU/mL),Irregular_Cycle(Y/N)
200,0.0,30.0,47.0,1.58,18.827111,O+,73.0,18.0,11.2,6.0,...,120.0,8.0,2.0,1.0,11.0,14.0,6.0,3.44,1.99,0

In [ ]:
#we suspected these are input errors for which we multiplied these by 10
data['BP_Diastolic(mmHg)'] = data['BP_Diastolic(mmHg)'].apply(lambda x: x*10 if x<60 else x)

In [ ]:
data['AMH(ng/mL)'] = pd.to_numeric(data['AMH(ng/mL)'],errors='coerce')  #generated error(null) value for string in this column

In [ ]:
data['AMH(ng/mL)'].fillna(data['AMH(ng/mL)'].median(),inplace=True)  #assigned median to the null value

In [ ]:
df=data.rename(columns={'PCOS_(Y/N)': 'Class'})  #Renamed the target column

In [ ]:
df.head()

,Class,Age_(yrs),Weight_(Kg),Height(m),BMI,Blood_Group,Pulse_rate(bpm),RR_(breaths/min),Hb(g/dl),Cycle_length(days),...,BP_Systolic(mmHg),BP_Diastolic(mmHg),Follicle_No.(L),Follicle_No.(R),Avg.Fsize(L)(mm),Avg.Fsize(R)(mm),Endometrium(mm),I_beta-HCG(mIU/mL),II_beta-HCG(mIU/mL),Irregular_Cycle(Y/N)
0,0.0,28.0,44.6,1.520,19.300000,O+,78.0,22.0,10.48,5.0,...,110.0,80.0,3.0,3.0,18.0,18.0,8.5,1.99,1.99,0
1,0.0,36.0,65.0,1.615,24.921163,O+,74.0,20.0,11.70,5.0,...,120.0,70.0,3.0,5.0,15.0,14.0,3.7,60.80,1.99,0
2,1.0,33.0,68.8,1.650,25.270891,A+,72.0,18.0,11.80,5.0,...,120.0,80.0,13.0,15.0,18.0,20.0,10.0,494.08,494.08,0
3,0.0,37.0,65.0,1.480,29.674945,B+,72.0,20.0,12.00,5.0,...,120.0,70.0,2.0,2.0,15.0,14.0,7.5,1.99,1.99,0
4,0.0,25.0,52.0,1.610,20.060954,A+,72.0,18.0,10.00,5.0,...,120.0,80.0,3.0,4.0,16.0,14.0,7.0,801.45,801.45,0

In [ ]:
#shuffle_df = df.sample(frac=1).reset_index(drop=True)
#shuffle_df.head()

In [ ]:
cleaned_df= df.copy()  #created a new cleaned version of the dataframe
cleaned_df.head()

,Class,Age_(yrs),Weight_(Kg),Height(m),BMI,Blood_Group,Pulse_rate(bpm),RR_(breaths/min),Hb(g/dl),Cycle_length(days),...,BP_Systolic(mmHg),BP_Diastolic(mmHg),Follicle_No.(L),Follicle_No.(R),Avg.Fsize(L)(mm),Avg.Fsize(R)(mm),Endometrium(mm),I_beta-HCG(mIU/mL),II_beta-HCG(mIU/mL),Irregular_Cycle(Y/N)
0,0.0,28.0,44.6,1.520,19.300000,O+,78.0,22.0,10.48,5.0,...,110.0,80.0,3.0,3.0,18.0,18.0,8.5,1.99,1.99,0
1,0.0,36.0,65.0,1.615,24.921163,O+,74.0,20.0,11.70,5.0,...,120.0,70.0,3.0,5.0,15.0,14.0,3.7,60.80,1.99,0
2,1.0,33.0,68.8,1.650,25.270891,A+,72.0,18.0,11.80,5.0,...,120.0,80.0,13.0,15.0,18.0,20.0,10.0,494.08,494.08,0
3,0.0,37.0,65.0,1.480,29.674945,B+,72.0,20.0,12.00,5.0,...,120.0,70.0,2.0,2.0,15.0,14.0,7.5,1.99,1.99,0
4,0.0,25.0,52.0,1.610,20.060954,A+,72.0,18.0,10.00,5.0,...,120.0,80.0,3.0,4.0,16.0,14.0,7.0,801.45,801.45,0

In [ ]:
cleaned_df.to_csv('Cleaned_PCOS_Final.csv',index=False)  #saved the dataframe as a CSV file